<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <p><strong>Round <%= round %></strong></p>

    <main>
      <img
        src="<%= characters[chosenIndex]['imageUrl'] %>"
        alt="Image of <%= characters[chosenIndex]['name'] %>"
      />

      <ul class='grid'>
        <% characters.map((item,index)=>{ %>
          <li>
              <a href="<%= round %>/<%= index %>"><%= item.name %></a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>
